{% extends 'base.html' %}


{% block title %}Finance{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block body %}
  <div class="container">

    <div class="nav">
      <div class="filter">
        <select>
          <option>2022-11-01</option>
          <option>2022-12-01</option>
        </select>
        <select>
          <option>Only</option>
          <option>All</option>
        </select>
      </div>
      <div class="summary">
        <div class="whole">
          <div class="valueView">
            <input type="checkbox">
            <div>
              <span class="valueIn">444 USD</span><br />
              <span class="valueOut">233 USD</span>
            </div>
          </div>
        </div>
        <div class="monthStart">
          <div class="valueView">
            <input type="checkbox">
            <div>
              <span class="valueIn">444 USD</span><br />
              <span class="valueOut">233 USD</span>
            </div>
          </div>
        </div>
        <div class="current">
          <div class="valueView">
            <input type="checkbox">
            <div>
              <span class="valueIn">444 RUB</span><br />
              <span class="valueOut">233 RUB</span>
            </div>
          </div>
          <div class="valueView">
            <input type="checkbox">
            <div>
              <span class="valueIn">444 JPY</span><br />
              <span class="valueOut">233 JPY</span>
            </div>
          </div>
        </div>
        <div class="addCurrency">
          <input placeholder="Currency Cod"></input>
          <button>Btn</button>
        </div>
      </div>
    </div>

    <div class="dynamic">

      <div class="left">
        <div class="userView">
          <input type="checkbox">
          <div>
            <span class="userName">User_1</span><br />
            <span class="valueIn">444 USD</span><br />
            <span class="valueOut">233 USD</span>
          </div>
        </div>
        {% for user in all_users %}
          <div class="user">
            <p class="userName">
              <input id="user_{{ user[0] }}" type="checkbox" />
              <label for="user_{{ user[0] }}">User[1]</label>
            </p>
            <p class="userSummary">13 R</p>
          </div>
        {% endfor %}
      </div>

      <div class="middle">
        <div class="income">

          <div class="scheduleView">
            <input type="checkbox">
            <div>
              <span class="scheduleName">It's monthly ?</span><br />
              <span class="valueIn">444 USD</span>
              <span class="scheduleRepeat">/mo</span>
            </div>
          </div>

        </div>

        <hr />

        <div class="notIncome">

          <div class="scheduleView">
            <input type="checkbox">
            <div>
              <span class="scheduleName">It's monthly ?</span><br />
              <span class="valueOut">444 USD</span>
              <span class="scheduleRepeat">/mo</span>
            </div>
          </div>

        </div>
        <div class="todos">
          <div class="todo">
            <p>User_1 :: 2022-12-12</p>
            {% for todo in all_todos %}
              <p>{{ todo }}</p>
            {% endfor %}
          </div>
          <div class="todoItems">
            <p>foo
              <span>223 USD</span>
            </p>
          </div>
        </div>
      </div>

      <div class="right">
        <table>
          <thead>
            <tr>
              <th>#ID/N</th>
              <th>User</th>
              <th>In/Out</th>
              <th>DateTime</th>
            <tr>
          </thead>
          <tbody>
            <tr>
              <td>2</td>
              <td>User_1</td>
              <td><span class="valueOut">223 USD</span></td>
              <td>2022-12-12 15:22:23</td>
            </tr>
            <tr>
              <td>1</td>
              <td>User_1</td>
              <td><span class="valueIn">444 USD</span></td>
              <td>2022-12-12 12:22:23</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
{% endblock %}


{% block script %}
  <script>
  </script>
{% endblock %}
