{% extends 'base.html' %}


{% block title %}Finance{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block body %}
  <div class="container">

    <div class="nav">
      <div class="filter">
        <select id="selectDate" onchange="setDateFilter();">
          <option>2022-11-01</option>
          <option>2022-12-01</option>
        </select>
        <select id="selectDateQuery" onchange="setDateFilter();">
          <option>Only</option>
          <option>All</option>
        </select>
      </div>
      <div class="summary">
        <div class="whole">
          <div class="valueView">
            <input type="checkbox">
            <div>
              <span class="value">JPY<span><br />
              <span class="valueIn">444</span><br />
              <span class="valueOut">233</span>
            </div>
          </div>
        </div>
        <div class="monthStart">
          <div class="valueView">
            <input type="checkbox">
            <div>
              <span class="valueIn">444 USD</span><br />
              <span class="valueOut">233 USD</span>
            </div>
          </div>
        </div>
        <div class="current">
          <div class="valueView">
            <input type="checkbox">
            <div>
              <span class="valueIn">444 RUB</span><br />
              <span class="valueOut">233 RUB</span>
            </div>
          </div>
          <div class="valueView">
            <input type="checkbox">
            <div>
              <span class="valueIn">444 JPY</span><br />
              <span class="valueOut">233 JPY</span>
            </div>
          </div>
        </div>
        <div class="addCurrency">
          <input placeholder="Currency Cod"></input>
          <button>Btn</button>
        </div>
        <form id="mainForm" action="{{ url_for('main.index') }}" method="POST">
          <button id="mainFormData" name="mainFormData" value="">Submit</button>
        </form>
      </div>
    </div>

    <div class="dynamic">

      <div id="left" class="tabs">
        <div class="tabs-list">
          <button onclick="showTab(this, 'tab-users');">Users</button>
          <button onclick="showTab(this, 'tab-wallets');">Wallets</button>
          <button onclick="showTab(this, 'tab-currencies');">Currencies</button>
        </div>

        <div id="tab-users" class="tab">
          {% for user in all_users %}
            <div class="userView">
              <input type="checkbox">
              <div>
                <span class="userName">{{ user[1] }}</span><br />
                <div class="valueView_1">
                  <span class="valueIn">444 USD</span><br />
                  <span class="valueOut">233 USD</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div id="tab-wallets" class="tab">
          {% for wallet in all_wallets %}
            <div class="walletView">
              <input type="checkbox">
              <div>
                <span class="title">{{ wallet[1] }}</span><br />
                <div class="valueView_1">
                  <span class="value">{{ wallet[3] }}</span><br />
                  <span class="valueIn">444 USD</span><br />
                  <span class="valueOut">233 USD</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div id="middle" class="tabs">
        <div class="tabs-list">
          <button onclick="showTab(this, 'tab-transactionsHistory');">Transactions</button>
          <button onclick="showTab(this, 'tab-transactionsNew');">New Transactions</button>
        </div>
        <div id="tab-transactionsHistory" class="tab">
          {% for transaction in all_transactions %}
            <div class="transactionView">
              <input type="checkbox">
              <div>
                <span class="scheduleName">It's monthly ?</span><br />
                <span class="valueIn">444 USD</span>
                <span class="scheduleRepeat">/mo</span>
              </div>
            </div>
          {% endfor %}
        </div>

        <div id="tab-transactionsNew" class="tab">
          <form id="transactionForm" action="{{ url_for('transaction.add') }}" method="POST">
            <input name="transactionTitle" placeholder="Title" />
            <input name="transactionValue" placeholder="Value" type="number" min="1" />
            <select name="transactionType" onchange="showTransactionTypeFields(this);">
              <option>Plan</option>
              <option>Fact</option>
              <option>Schedule</option>
              <option>Transfer</option>
            </select>
            <div id="transactionTransferFields">
              <input name="transactionTransferFrom" placeholder="transaction transfer from" />
              <input name="transactionTransferTo" placeholder="transaction transfer to" />
            </div>
            <button>Submit</button>
          </form>
        </div>
      </div>

    </div>

  </div>
{% endblock %}


{% block script %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
