{% extends 'base.html' %}


{% block title %}Finance{% endblock %}


{% block head %}
  <style>
    .nav {
      display: grid;
    }
    .nav .filter {
      grid-row: 1;
      grid-column: 1 / 3;
    }
    .nav .summary {
      grid-row: 1;
      grid-column: 3 / 12;
    }

    .dynamic {
      display: grid;
    }
    .dynamic .left {
      grid-row: 1;
      grid-column: 1 / 3;
    }
    .dynamic .middle {
      grid-row: 1;
      grid-column: 3 / 10;
    }
    .dynamic .right {
      grid-row: 1;
      grid-column: 10 / 12;
    }
  </style>
{% endblock %}


{% block body %}
  <div class="container">

    <div class="nav">
      <div class="filter">
        <select>
          <option>a</option>
        </select>
      </div>
      <div class="summary">
        <div class="filtered">
          <span>119 S</span>
          <span>119 G</span>
          <span>119 R</span>
        </div>
        <div class="notFiltered">
          <span>1109 R</span>
        </div>
      </div>
    </div>

    <div class="dynamic">

      <div class="left">
        {% for user in all_users %}
          <div class="user">
            <p class="userName">
              <input id="user_{{ user[0] }}" type="checkbox" />
              <label for="user_{{ user[0] }}">User[1]</label>
            </p>
            <p class="userSummary">13 R</p>
          </div>
        {% endfor %}
      </div>

      <div class="middle">
        <div class="income">
        </div>
        <div class="notIncome">
        </div>
        <div class="todos">
          <div class="todo">
            {% for todo in all_todos %}
              <p>{{ todo }}</p>
            {% endfor %}
          </div>
          <div class="todoItems">
          </div>
        </div>
      </div>

      <div class="right">
        <table>
          <thead>
            <tr>
              <th>#ID/N</th>
              <th>User</th>
              <th>In/Out</th>
              <th>DateTime</th>
            <tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>

  </div>
{% endblock %}


{% block script %}
  <script>
  </script>
{% endblock %}
